body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

*,*::before,*::after {
    box-sizing: border-box;
}

.container {
    max-width: 840px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

img {
    width: 100%;
}

.contacts {
    display: flex;
    justify-content: center;
}

.contacts-separator {
    margin: 0 10px;
    user-select: none;
    pointer-events: none;
}

.contacts a {
    text-decoration: none;
    color: inherit;

    opacity: 0.5;

    transition: opacity .2s ease;
}

.contacts a:hover {
    opacity: 1;
}

.code h3 {
    margin-top: 15px;
}

.code img {
    max-width: 600px;
    margin: 0 auto;
}